nav#navbar {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    /* margin-top: 3px; */
    padding-right: 75px;
}



body {
    display: flex;
    padding: 10px;
    text-align: justify;
}
main{
font-size: 20px;

}
a {
    text-decoration: none;
    border-top-style: solid;
    width: 70%;
    color: black;
    width: 100%;
}

header{
    font-weight: bolder;
    /* padding-top: 10px; */
    padding-top: 20px;
    font-size: 30px;
}

#navbar header, a {
    /* padding: 25px; */
    padding: 25px 25px 25px 33px;
}

#navbar header{
    width: max-content;
}


@media screen and (max-width: 550px) {
    body {
        display: flex;
        flex-direction: row;
         font-size: 2px;
        /* padding-right: 75px; */ 
    }

  }